<% include ../partials/header %>
<br>
<div class="">
    <div class="col s12">
        <a href="/todo/add" class="btn btn-success btn-lg">Add new</a>
    </div>
</div> 
<br>

<div class="=">
    <div class="col s12">
        <% if (items.length >0) {%>
            <table class="table">
                <thread>
                    <tr>
                        <th style="width:1%;text-align:center">ID</th>
                        <th style="width:49%">TO DO LIST</th>
                        <th solspan="2" style="width:20%;text-align:center">Actions</th>
                    </tr>
                </thread>
                <tbody>
                    <% items.forEach(function(item,index){ %>
                        <tr>
                            <td style="width:1%;text-align:center"><%= index + 1 %></td>
                            <td style="width:20%"><%= item.todostuff %></td>
                            <td solspan="2" style="width:20%;text-align:center">
                                <a href="/todo/update/<%= item.id_todo %>" class="btn btn-success">Update</a>
                                <a href="/todo/delete/<%= item.id_todo %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>     
            </table>
        <% }else{ %>
            <p><strong>There are no data</strong></p>
        <% } %>
    </div>
</div>   

<% include ../partials/footer %>